<!DOCTYPE html>
<html lang="en" ng-app="demo">

<head>
  <title>Virtual Shelf Browser</title>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css" />
  <link href="content/css/index-styles.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
  <script src="app/hello.js"></script>
</head>

<body>

  <div ng-controller="UserController">

    <div ng-show="add_book_flag" class="modal">
      <form class="modal-content">
        <div class="container">
          <h1>Hi {{username}},</h1>
          <p>Please fill in this form to add a Book.</p>
          <hr>
          <label><b>Book</b></label>
          <input ng-model="isbn" type="text" placeholder="Enter ISBN" required>
          <label><b>Price</b></label>
          <input ng-model="price" type="text" placeholder="Enter Price" required>
          <div class="clearfix">
            <button ng-click="addBook()" class="addBook">Add Book</button>
            <button ng-click="removeBook()" class="removeBook">Remove Book</button>
          </div>
          <div class="clearfix">
            <button class="otherOption2" ng-click="guest()">Continue As A Guest</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</body>
</head>
