.wrapper{
     width:100%;
     font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 .box{
     float:left;
     height:100%;
}
 .box:nth-child(1){
     width:20%;
}
 .box:nth-child(2){
     width:80%;
}
 table {
     border-collapse: collapse;
     color: #4a4a4d;
     width: 100%;
}
 th, td {
     padding: 10px 15px;
     vertical-align: middle;
     text-align: center;
}
 thead {
     background: #395870;
     background: linear-gradient(#49708f, #293f50);
     color: #fff;
     font-size: 11px;
     text-transform: uppercase;
}
 th:first-child {
     border-top-left-radius: 5px;
     text-align: left;
}
 th:last-child {
     border-top-right-radius: 5px;
}
 tbody tr:nth-child(odd) {
     background: #f0f0f2;
}
 td {
     border-bottom: 1px solid #cecfd5;
     border-right: 1px solid #cecfd5;
}
 td:first-child {
     border-left: 1px solid #cecfd5;
     text-align: left;
}
 .book-title {
     color: #395870;
     display: block;
}
 .text-offset {
     color: #7c7c80;
     font-size: 12px;
}
 dt {
     float: left;
}
/* Custom dropdown */
 .custom-dropdown {
     margin-bottom: 0;
     margin-right: 10px;
     position: relative;
}
 .custom-dropdown select {
     background-color: #395870;
     background: linear-gradient(#49708f, #293f50);
     color: #fff;
     padding: 10px;
     font-size: 11px;
     text-transform: uppercase;
     text-align: left;
     vertical-align: middle;
     border-radius: 5px 5px 0 0;
     font-weight: bold;
     width: 100%;
     box-sizing: border-box;
     -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}
 .custom-dropdown::before, .custom-dropdown::after {
     content: "";
     position: absolute;
     pointer-events: none;
}
 .custom-dropdown::after {
    /* Custom dropdown arrow */
     content: "\25BC";
     height: 1em;
     font-size: .625em;
     line-height: 1;
     right: 1.2em;
     top: 40%;
     color: rgba(0,0,0,0.5);
}
 .custom-dropdown::before {
    /* Custom dropdown arrow cover */
     width: 2em;
     right: 0;
     top: 0;
     bottom: 0;
     background-color: rgba(0,0,0,.15);
}
 .container {
     display: block;
     position: relative;
     padding-left: 30px;
     margin-bottom: 0px;
     cursor: pointer;
     font-size: 16px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
/* Hide the browser's default radio button */
 .container input {
     position: absolute;
     opacity: 0;
     padding-bottom: 100px;
     cursor: pointer;
}
/* Create a custom radio button */
 .checkmark {
     position: absolute;
     top: 3px;
     left: 3px;
     height: 15px;
     width: 15px;
     background-color: #eee;
     border-radius: 50%;
}
/* On mouse-over, add a grey background color */
 .container:hover input ~ .checkmark {
     background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
 .container input:checked ~ .checkmark {
     background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
/* Show the indicator (dot/circle) when checked */
 .container input:checked ~ .checkmark:after {
     display: block;
}
/* Style the indicator (dot/circle) */
 .container .checkmark:after {
     top: 5px;
     left: 5px;
     width: 5px;
     height: 5px;
     border-radius: 50%;
     background: white;
}
 .rzslider{
     margin-top: 30px;
     width: 95%;
     height: 1px;
}
 h3 {
     background-color: #395870;
     background: linear-gradient(#49708f, #293f50);
     color: #fff;
     padding: 10px;
     font-size: 13px;
     text-align: left;
     vertical-align: middle;
     font-weight: bold;
     width: 97%;
     border-radius: 5px 5px 5px 5px;
     box-sizing: border-box;
}
 
